* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#moving-text {
    font-size: xx-large;
    margin-bottom: 75px;
    color: rgba(45, 45, 64, 0.5);
    position: relative;
}

.text {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    animation: moveRight 5s linear infinite;
}

@keyframes moveRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100vw);
    }
}

.text:active {
    animation-name: moveLeft;
}

@keyframes moveLeft {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-100%);
    }
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vmax;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    overflow-x: hidden;
    /* background-image: url('./media/video/bg.mp4');
    background-size: cover; */
}
.button-start-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button-start {
    width: 150px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    background: rgba(255, 255, 255, 0.2);
}

.quit {
     background: red; 
     color: white;
}
.quit:hover {
    background: rgba(254, 97, 97, 0.4);
}

button:hover {
     /* opacity: 0.8; */
     background: rgba(255, 255, 255, 0.4);
}
